.card {
  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  perspective: 1000px;
  position: relative;
  transition: transform 0.3s ease, opacity 0.5s ease;
}

.card--flipped .card-inner {
  transform: rotateY(180deg);
}
.card--matched {
  opacity: 0;
  pointer-events: none;
}

