$button-size: clamp(4.375rem, 3.839rem + 2.68vw, 6.25rem);

.controls {
  display: flex;
  justify-content: center;

  &__button {
    padding: 15px;
    border-radius: 100px;
    cursor: pointer;

    width: $button-size;
    height: $button-size;
    border: 2px solid var(--border-color);
    background-color: var(--muted-bg);
    transition: background 0.2s;
    backdrop-filter: blur(5px);

    &:hover {
      background: var(--hover-bg);
    }

  }

}