:root {
    --card-bg: #f9edd5;
    --border-color: #c79d53;

    --ui-text-color: #f5e8d3;
    --muted-bg: rgba(0,0,0,0.3);
    --hover-bg: rgba(0,0,0, 0.6);

    --text-font: "Uncial Antiqua", cursive;

    --modal-text: #fcebb4;
    --card-shadow:  rgba(216, 149, 94, 0.35);
}
